<p>
  <b>Name:</b>
  <%=h @tool.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @tool.url %>
</p>

<p>
  <b>Kind:</b>
  <%=h @tool.kind %>
</p>
<p>

  <b>People:</b>
<ul>
  <% for p in @tool.people %>

	<li><%= link_to(p.first_name + ' ' + p.surname, p)  %></li>
	
	<% end %>
	</ul> 
</p>



<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
